<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body style="text-align: center; background-color: #efefef">
	<div style="text-align: center; width: 60%; min-width: 400px; padding: 15px; background-color: white; border-radius: 3px; display: block; margin: auto; ">
		<%= image_tag 'http://rack.2.mshcdn.com/media/ZgkyMDEzLzA4LzA1LzYyL2FuY2hvcm1hbi42NjJkYS5naWYKcAl0aHVtYgk4NTB4ODUwPgplCWpwZw/e36d14bd/1c0/anchorman.jpg' %>
		<hr /><br />  
		<h1>Congratulations, <b style="color: #bd1e2c"; ><%= @user.first_name %>!</b></h1>
		<h3> You have successfully activated your Popr account!</h3><br />
		<h4>
			To login to the site, just follow this link:<br /><br />
			<%= @url %>
		</h4>
		<h4>For the best user experience, we recommend using Chrome. Happy popping!</h4><br />
	</div>
</body>
</html>