<a class="chart-span"><span>CHARTS</span></a>
<a id="graph-toggle" href='#'><span></span></a>
	<div class="graph-btn btn1"></div>
	<div class="graph-btn btn2"></div>
	<div class="graph-btn btn3"></div>
	<div class="graph-btn btn4"></div>
<span class="graph-label1">Movie Rating</span>
<span class="graph-label2">Genres</span>
<span class="graph-label3">Actors</span>
<span class="graph-label4">Directors</span>
<div id="menu">

	<% if @user.ratings.any? %>
		<div id="chart-background" class="chart"></div>
	<% end %>
	<div id="chart1-box" class="chart"><div id="chart4"></div></div>
	<div id="chart2-box" class="chart"><div id="chart"></div></div>
	<div id="chart3-box" class="chart"><div id="chart2"></div></div>	
	<div id="chart4-box" class="chart"><div id="chart3"></div></div>
</div>