<b>Wishlist</b><br /><br />
<% unless @user.movie_interests.empty? %>
	<ul id="featured1 inline-list" data-orbit>
		<% count = 0 %>
	  	<li>
			<% @user.movie_interests.each do |movie| %>
				<% count += 1 %>
				<% if count % 10 == 0 %>
					<% return true %>
				<% else %>
				<div class="car-img-container">
					<% sleep(0.2) %>
					<img class= "car-img" src="<%= Movie.find_movie(movie.rt_id).poster %>" style="float:left; padding-right:5px;" />
					<% if current_user.id == @user.id %>
						<%= link_to "Remove", user_movie_interest_path(@user,movie), data: { confirm: 'Are you sure?' }, method: :delete, class:"small-caps" %>
					<% end %>
				</div>
					<% if count % 3 == 0 %>
						</li>
						<li>
					<% end %>
				<% end %> 
		 	<% end %>
		</li>
	</ul>
<% else %>
	<p>No movie interests yet</p>
<% end %>	