<div class="friend-page">
	<h3>Invite Friends</h3><br />

	<div class="row">
		<div class="small-8 small-centered columns">
			<%= form_tag(users_path, :method => "get", id: "search-form") do %>
			<%= text_field_tag :user_search, params[:user_search], placeholder: "Search Users" %>
			<%= submit_tag "Search", :name => nil, class: "button tiny" %>
			<% end %>
		</div>
	</div>


	<div class="row">
		<div class="small-8 small-centered columns" id="user-list">
			<div id="friend-list">
				<%= render :partial => "users" %>
			</div>
		</div>
	</div>
</div>


