<% @event.comments.each do |comment| %>
  <% if comment.id %>
    <div class="comment">
      <div class="poster">
        Posted by <%= comment.user.first_name %> on <%= comment.created_at %>
      </div>
      <p class="comment">
        <%= comment.content %>
      </p>
    </div>
  <% end %>  
<% end %>