<% @event.comments.each do |comment| %>
  <% if comment.id %>
    <div class="comment">
      <p class="comment">
        <%= comment.content %>
      </p>
      <div class="poster">
        <em>Posted by <%= comment.user.first_name %> on <%= comment.created_at %></em>
      </div>
    </div>
  <% end %>  
<% end %>