
<div id="wrapper">
	<div id="all-event-container">
		<div id="side-bar" style="overflow: scroll">
			<%= render 'event' %>
		</div>
	</div>

		<div id="map-container">	
			<%= render 'map' %>
		</div>
	</div>
</div>