
<div id="row">
	<div id="all-event-container">
		<div class= "large-4 medium-4 small-12 columns" id="side-bar" style="overflow: scroll">
			<div class="wrapper">
				<center><a id="btnToggle" class="button tiny round">More Filters</a></center>
				<div id="slidingDiv" style="display:none;">Filters will be placed here</div>
			</div>
			<%= render 'event' %>
		</div>
	</div>

		<div class="large-8 medium-8 small-12 columns" id="map-container">	
			<%= render 'map' %>
		</div>
	</div>
</div>