<div class="edit-container">
  <div class="row">
    <div class="small-7 small-centered columns">
      <div id="edit-event">
        <h4>Edit <%= @event.title %></h4><br />
        <div class="new-event" class="action">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
