<div class="form-container">
  <div class="row">
    <div class="small-7 small-centered columns">
      <div id="edit-event">
        <div class="edit-title form-styling"><h3>Edit Event</h3></div><br />
        <div class="new-event" class="action">
          <%= render 'edit_form' %>
        </div>
      </div>
    </div>
  </div>
</div>
