<h1>New Events</h1>

<div id="movie-poster">
	<i>No Movie Selected</i>
</div>

<div id="movie-details">
	
</div>

<%= render 'form' %>

<div id="search-block">
	<input type="text" id="search">
	<div class="search-results"></div>
</div>
