<div class="movie-center">
	<div class="movie-explore-field">

		<div id="search-poster">
			<div id="search-block">
				<input type="text" id="search" placeholder="Search for a movie...">
				<div class="search-results"></div>
			</div><br />

			<div id="movie-poster">
				<i>No Movie Selected</i>
			</div><br /><br />
		</div>

		<div class="row">
			<div class="small-8 small-centered columns">
				<div id="form">
					<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>

<script id="menu_info" type="x-tmpl-mustache">

	<div data-id="{{id}}" 
			 data-poster="{{posterOri}}"

			 class="movie-click">

			 <img class="img-thumb" 
			 			align="left" 
			 			height="80" 
			 			src="{{posterThumb}}" />

			 	<img id="drop-rating" src="{{icon}}" /> <i id="movie-title"> {{critics_score}} - <strong> {{title}} ({{year}}) </strong> </i>
 	</div>
</script>