
<div id="new-movie-container">
	<div id="movie-poster">
		<i>No Movie Selected</i>
	</div>
	<div id="form">
		<%= render 'form' %>
	</div>

	<div id="search-block">
		<input type="text" id="search">
		<div class="search-results"></div>
	</div>

</div>

<script id="menu_info" type="x-tmpl-mustache">

	<div data-year="{{year}}" 
			 data-cast="{{cast}}" 
			 data-id="{{id}}" 
			 data-title="{{title}}"
			 data-poster="{{posterOri}}" 
			 class="movie-click">

			 <img id="img-thumb" 
			 			align="left" 
			 			height="50" 
			 			src="{{posterThumb}}" />

			 	<i> <img height="13" src="{{icon}}" /> <i id="movie-title"> {{critics_score}} - <strong> {{title}} ({{year}}) </strong> </i>
		
 	</div>
</script>