<div class="background-image"></div>
<div class="front-content">
	<p>Find a movie. Invite your friends. Simple.<br /><br /></p>
	<p>To get started, please login or signup.</p><br /><br />
</div>

<div class="login-signup">
	<div class="row">
		<div class="small-6 small-centered columns">

			<dl class="tabs" data-tab>
			  <dd class="active small-6"><a href="#panel1">Login</a></dd>
			  <dd class="small-6"><a href="#panel2">Sign Up</a></dd>
			</dl>

			<div class="tabs-content">
				<div class="content active" id="panel1">
					<%= render 'user_sessions/form' %>
				</div>

				<div class="content" id="panel2">
				  	<%= render 'users/form' %> 
				</div> 
			</div>
		</div>
	</div>
</div>


<!-- <dl class="tabs" data-tab>
  <dd class="active"><a href="#panel1">Tab 1</a></dd>
  <dd><a href="#panel2">Tab 2</a></dd>
  <dd><a href="#panel3">Tab 3</a></dd>
  <dd><a href="#panel4">Tab 4</a></dd>
</dl>
<div class="tabs-content">
  <div class="content active" id="panel1">
    <p>This is the first panel of the basic tab example. This is the first panel of the basic tab example.</p>
  </div>
  <div class="content" id="panel2">
    <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>
  </div>
  <div class="content" id="panel3">
    <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
  </div>
  <div class="content" id="panel4">
    <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
  </div>
</div> -->