<div class="background-image"></div>
<div class="front-content">
	<p>Find a movie. Invite your friends. Simple.<br /><br /></p>
	<p>To get started, please login or signup.</p><br /><br />
</div>

<div class="login-signup">
	<div class="row">
		<div class="small-6 small-centered columns">

			<dl class="tabs" data-tab>
			  <dd class="active small-6"><a href="#panel1">Login</a></dd>
			  <dd class="small-6"><a href="#panel2">Sign Up</a></dd>
			</dl>

			<div class="tabs-content">
				<div class="content active" id="panel1">
					<%= render 'user_sessions/form' %>
				</div>

				<div class="content" id="panel2">
				  	<%= render 'users/signup_form' %> 
				</div> 
			</div>
		</div>
	</div>
</div>

