<%= form_for([@user, @movie_interest], remote: true) do |f| %>

	<div class="field">
		<%= f.hidden_field :wished, value: "true" %>
		<%= f.hidden_field :rt_id, value: "" %>
	</div> 
	<%= f.submit "Add it to my Wish List!", class: "button expand", id: "wish-button" %>
<% end %>