<%= form_for([@user, @movie_interest], remote: true) do |f| %>

	<div class="field">
		<%= f.hidden_field :wished, value: "true" %>
		<%= f.hidden_field :rt_id, value: "" %>
	</div> 

	<button class="button" id="wish-button">
		<i class="fa fa-star"></i>
	</button>
	
<% end %>