<h1>Explore Movies</h1>

<div id="search-block">
	<input type="text" id="search">
	<div class="search-results"></div>
</div>

<div id="movie-poster">
	<i>No Movie Selected</i>
</div>

<div id="movie-title"></div>
<div id="movie-cast"></div>

<%= form_for([@user, @movie_interest], remote: true) do |f| %>

	<div class="field">
		<%= f.hidden_field :wished, value: "true" %>
		<%= f.hidden_field :rt_id, value: "" %>
	</div> 
	<div class="actions">
		<%= f.submit "Wish" %>
	</div>
<% end %>


<script id="menu_info" type="x-tmpl-mustache">

	<div data-year="{{year}}" 
			 data-cast="{{cast}}" 
			 data-id="{{id}}" 
			 data-title="{{title}}"
			 data-poster="{{posterOri}}" 
			 class="movie-click">

			 <img id="img-thumb" 
			 			align="left" 
			 			height="50" 
			 			src="{{posterThumb}}" />

			 	<i> <img height="13" src="{{icon}}" /> <i id="movie-title"> {{critics_score}} - <strong> {{title}} ({{year}}) </strong> </i>
		
 	</div>
</script>

<script id="movie_info" type="x-tmpl-mustache">

	<div id="movie-poster"><img id="selected-poster" src=""></div>

</script>