<% if (flash[:alert]) %>
	<div class="error-box">
		<p class="alert"><%= flash[:alert] %></p>
	</div>
<% end %>

<div class="movie-explore-field">

	<div class="overflow"></div>
	<div class="search-window"></div>
	<div id="search-poster">
		<div id="search-block">
			<input type="text" id="search" placeholder="Search for movies">
			<div class="search-results"></div>
		</div><br />

		<div id="movie-poster"></div>
	</div>

	<div class="bg-color">
		<div class="form-section row">
			<%= render 'flip_card' %>
		</div>
	</div>
</div>


<script id="menu_info" type="x-tmpl-mustache">

	<div data-year="{{year}}" 
		data-cast="{{cast}}" 
		data-id="{{id}}" 
		data-title="{{title}}"
		data-poster="{{posterOri}}"
		data-icon = "{{icon}}"
		data-critics_rating = "{{critics_rating}}" 
		data-critics_score = "{{critics_score}}"
		data-genre = "{{genre}}"
		data-mpaa_rating = "{{mpaa_rating}}"
		data-runtime = "{{runtime}}"

		class="movie-click">

		<img class="img-thumb" 
		align="left" 
		height="80" 
		src="{{posterThumb}}" />

		<img id="drop-rating" src="{{icon}}" /> <i id="movie-title"> {{critics_score}} - <strong> {{title}} ({{year}}) </strong> </i>
	</div>
</script>




