<div class="movie-center">
	<div class="movie-explore-field">

		<div class="overflow"></div>
		<div class="search-window"></div>
		<div id="search-poster">
			<div id="search-block">
				<input type="text" id="search" placeholder="Search for movies">
				<div class="search-results"></div>
			</div><br />

			<div id="movie-poster"></div>
		</div>

		<div class="form-section">
			<div class="form-window">
				<div class="card"> 
					<div class="face front">
						<div class="form-flip">
							<img src="/assets/flip_icon.png">
							<h6>Create Event</h6>
						</div>
						<div class="movie-text">
							<div class="movie-title"></div><br />
							<div class="movie-score"></div><br />
							<div class="movie-director"></div>
							<div class="movie-cast"></div>
							<div class="movie-genre"></div>
							<div class="movie-mpaa_rating"></div>
							<div class="movie-runtime"></div>
						</div><br />

						<div class="review-hide">
							<%= render 'ratings/form' %>
						</div>
				
						<div class="wish-hide">
							<%= render 'movie_interests/form' %>
						</div>
		
					</div>

					<div class="face back">
						<div class="form-flip">
							<img src="/assets/flip_icon.png">
							<h6>Movie Info</h6><br />
						</div>
						<%= render 'events/form' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script id="menu_info" type="x-tmpl-mustache">

	<div data-year="{{year}}" 
		data-cast="{{cast}}" 
		data-id="{{id}}" 
		data-title="{{title}}"
		data-poster="{{posterOri}}"
		data-icon = "{{icon}}"
		data-critics_rating = "{{critics_rating}}" 
		data-critics_score = "{{critics_score}}"
		data-genre = "{{genre}}"
		data-mpaa_rating = "{{mpaa_rating}}"
		data-runtime = "{{runtime}}"

		 class="movie-click">

			<img class="img-thumb" 
	 			align="left" 
	 			height="80" 
	 			src="{{posterThumb}}" />

			 	<img id="drop-rating" src="{{icon}}" /> <i id="movie-title"> {{critics_score}} - <strong> {{title}} ({{year}}) </strong> </i>
 	</div>
</script>




