<div class="edit-container">
  <div class="row">
    <div class="small-7 small-centered columns">
      <div id="edit-rating">
      	<h4>Edit <%= Movie.find_movie(@rating.rt_id).title %> Review</h1><%= render 'form_edit' %>  
      </div>
    </div>
  </div>
</div>
