<% if @user.incoming_friendships != [] %>
  <div id="incoming-requests">
  <b>Friend Requests </b><br>
  <% @user.incoming_friendships.each do |friendship| %>
    <%= friendship.user.first_name %> <%= friendship.user.last_name %><br> 
    <%= link_to "Accept", friendships_path(friend_id: friendship.user.id),class:"small-caps", method: :post, remote: true %> <%= link_to "Reject", friendship_path(friendship), data: { confirm: 'Are you sure?' },class:"small-caps", method: :delete, remote: true %>
  <% end %> 
  </div>
  <hr>
<% end %>