$tomato-red: #BD1E2C;
$soft-white: #FEFEFE;

body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 1em;
  background-color: $soft-white;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 50px;
}

h3 {
	font-size: 40px;
}

h4 {
	font-size: 30px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 12px;
}