$search-bg: #f2f3f9;
$search-hover: #62669a;
$search-text-color: black;
$movie-info-bg: #d5d8ea;

$search-width: 800px;
$movie-poster-width: 180px;
$movie-poster-height: 270px;

.movie-title {
	color: $search-text-color;
	display: inline;
	vertical-align: top;
}

.movie-click {
	clear: left;
	display: table;
	width: $search-width;
	text-align: left;
}

.movie-click:hover {
	background-color: $search-hover;
	#movie-title{
		color: white;
	}
}

.search-results {
	background-color: $search-bg;
	width: $search-width;
	position: absolute;
	z-index: 10;
}

.img-thumb {
	display: inline-block;
	margin-right: 7px;
}

#search-block {
	width: $search-width;
	text-align: center;
	display: inline-block;
}

#search {
	width: ($search-width - 5px);
	text-align: center;
}

#movie-poster {
	width: $movie-poster-width;
	height: $movie-poster-height;
	background-color: $search-bg;
	display: inline-block;
	float: left;
	margin: 10px;
	text-align: center;
}

#movie-poster > i {
	display: inline-block;
	font-size: 16px;
	padding-top: (($movie-poster-height - 16)/ 2);
}

#selected-poster {
	width: $movie-poster-width;
	height: $movie-poster-height;
}

#up-vote, #down-vote {
	display: inline-block;
}

#score-text {
	font-size: 45px;
}

.movie-info {
	display: inline-block;
	text-align: center;
	width: $search-width;
	background-color: $movie-info-bg;
	position: relative;
}

.movie-text {
	text-align: left;
}

.movie-explore-field {
	display: inline-block;
	text-align: center;
}

.new-event {
	text-align: left;
	margin-top: 20px;
}

.review-hide, .wish-hide {
	display: none;
}

input:focus {
	outline:none;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 50px;
}

h3 {
	font-size: 40px;
	margin: 0px;
}

h4 {
	font-size: 30px;
	margin: 0px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 12px;
}