$search-bg: #fce5e8;
$search-hover: #BD1E2C;
$search-border: #e599a0;
$rating-border: #BD1E2C;

$search-width: 80%;
$movie-poster-width: 250px;
$movie-poster-height: 375px;

/* Global Changes */
#row {
	width: 100%;
	margin-top:0;
}

#container {
	background-color: #F5F5F5;
}

/* Welcome page */

.welcome-container {
	background-image: url('bg.jpg');
}

/* Border Styling */
.top-bar {
	border-bottom-width: 2px;
	border-bottom-color: #F5AA4A;
}

#movie-title {
	display: inline;
	vertical-align: top;
	font-size: 24px;
}

.movie-click {
	clear: left;
	text-align: left;
	display: table;
	width: 100%;
	border-bottom: 1px solid $search-border;
}

.movie-click:hover {
	background-color: $search-hover;
	#movie-title {
		color: white;
	}
}

.search-results {
	background-color: $search-bg;
	width: $search-width;
	position: absolute;
	z-index: 10;
}

#search-poster {
	text-align: center;
}

#search-block {
	width: $search-width;
	display: inline-block;
	margin-top: 17vh;
}

.img-thumb {
	display: inline-block;
	margin-right: 7px;
}

#search {
	margin-bottom: 0px;
	text-align: center;
	height: 50px;
	font-size: 24px;
}

#movie-poster {
	display: inline-block;
	margin: 30px 10px 20px 10px;
	text-align: center;
}

#drop-rating {
	height: 24px;
}

#movie-poster > i {
	display: inline-block;
	padding: 40px 40px;
}

.search-window {
	height: 100vh;
	width: 100%;
}

.form-window {
	display: none;
	width: 100%;
	background-color: #db3442;
}

#interest-form, #event-form {
	margin: 40px 40px;
	display: inline-block;
	background-color: white;
	padding: 40px;
	border-radius: 2px;
}

#selected-poster {
	width: $movie-poster-width;
	height: $movie-poster-height;
}

.movie-explore-field {
	width: 100%;
	text-align: center;
	display: inline-block;
}

.movie-center {
	text-align: center;
}

// Movie Interests New
.movie-score > img {
	height: 50px;
}

#score-text {
	font-size: 22px;
}

#movie-poster-col, #movie-content-col {
	padding: 0px;
}

input:focus {
	outline:none;
}

// All reviews

#review-list > p {
	margin: 0px;
	
}

#rating-center {
	text-align: center;
}

#review-summary {
	border-top: 2px solid black;
	padding-top: 10px;
}

/* Map Styling */

#map-container {
	height: 700px;
	width: 65%;
	border-color: #fff;
	float: left;
	margin-right:0px;
}
#map-canvas {
	height: 700px;
	width: 100%;
	margin-right:0px;
}

#map-container .event ul {
	list-style-type: none;
	padding: 0;
}

/* All Events */
#event {
	background-color: #f7f2f2;
}

#all-event-container {
	float: right;
	width:35%;
	margin-top:30px;
	margin-left:0px;
	padding:0px;
}

#host-by {
	font-size: 8pt;
	display:block;
}

#event-wrapper {
	width: 100%;
	height: 225px;
	display: inline-block;
	background-color: #f7f2f2; 
}

#event-poster {
	height: 225px;
	width: 35%;
	float: right;
	border-top: 1px solid #e8e8e8;
}

#event-content {
	height: 225px;
	line-height: 1px;
	width: 65%;
	background-color: #f7f2f2; 
	float:left;
	border-top: 1px solid #e8e8e8;
	border-left: 1px solid #e8e8e8;
	position: relative;
}

#event-info {
	padding: 15px;
	height: 150px;
	overflow: hidden;
}

#event-title p {
	line-height: 0.5;
}

#event-attendance {
	height: 50px;
}

#avatar-thumb {
	width: 45px;
	height: 45px;
	border-radius: 150px;
	border: 2px solid #F9F9F9;
}

#host-thumb {
	width: 75px;
	height: 75px;
	border-radius: 150px;
	border: 2px solid #F9F9F9;
}

#side-bar {
	margin-top: 10px;
	width: 100%;
	height: 600px;

}

#event-attendance ul li {
	list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0;
}

#image-container {
	position: relative;
	height: 75px;
	width: 75px;
}

.icon {
	z-index: 2;
	position: relative;
	left: 40px;
	top: 50px;
}

.hostImage {
	z-index: 1;
}


/* Top Bar */

#friend-icon {
	margin-top:10px;
	width: 30px;
	height: 30px;
	background-color: #BD1E2C;
}

#friend-request {
	background-color: #BD1E2C;
}

#friend-number {
	color: white;
	font-size: 8pt;
	position: relative;
	left: 15px;
	top: -5px;
}

#friend-container {
	position: relative;
	height: 45px;
	width: 45px;
}

#current-thumb {
	width: 30px;
	height: 30px;
	border-radius: 150px;
}

#friend-button {
}

.top-title {
	font-family: 'Nunito', sans-serif;
}


/* style input field text */
::-webkit-input-placeholder {
   color: #b0b0b0;
   opacity: .8;
}

/* Input field that looks like a button */
.search-field {
	width: 80px;
	display: inline-block;
	color: #EFEFEF;
	text-align: center;
	background-color: #d8492e;
	padding: .9em 1.8em;
	border: none;
	cursor: pointer;
	outline: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	transition: all .1s linear;
}
.search-field:hover {
	background-color: #BD1E2C;
}

/* after button is clicked */
.search-field.showActive {
	width: 200px;
	outline: none;
	color: #efaa9d;
	text-align: left;
	cursor: inherit;
}

/* Email submit button */
#submit-button {
	width: 35px;
	height: 35px;
	border: none;
	text-indent: -9999px;
  	opacity: .25;
	background: url(http://helixpowered.com/assets/img/arrow-circle-on-right.svg) no-repeat;
	background-size: 13px;
	background-position: 0 1px;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;

	display: none;
}
#submit-button:hover {
	opacity: .33;
}

#submit-button.appearShow {
	display: inline-block;
	background-size: 33px;
}



/* Profile Section */


#profile-picture {
	height: 400px;
	background-color: #FEFEFE;
}

#profile-content {
	height: 200px;
	border: 1px solid #dedede;
	background-color: #FEFEFE;
}

#profile-section {
	height: 400px;
	border: 1px solid #dedede;
	background-color: #FEFEFE;
}

#profile-image {
	height: 200px;
	overflow: hidden;
}

#right-tab, #left-tab, #center-tab {
	border: 1px solid #dedede;
	border-bottom-width: 0px;
}

#right-tab {
	border-top-right-radius: 10px;
}

#left-tab {
	border-top-left-radius: 10px;
}

#panel1, #panel2, #panel3, #panel4 {
	border: 1px solid #dedede;
	background-color: #FEFEFE;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}	

#wish-section {
	height: 300px;
	border: 1px solid #dedede;
	background-color: #FEFEFE;
	border-radius: 10px;

}

#friend-section {
	border: 1px solid #dedede;
	background-color: #FEFEFE;
	border-radius: 10px;
}

#review-section {
	border: 1px solid #dedede;
	border-radius: 10px;
	background-color: #FEFEFE;
}



