$search-bg: #fce5e8;
$search-hover: #BD1E2C;
$search-border: #e599a0;
$rating-border: #BD1E2C;

$search-width: 80%;
$movie-poster-width: 33vh;
$movie-poster-height: 50vh;

/* Global Changes */

#row {
	width: 100%;
	margin-top: 0;
}

.container {
	background-image: url('darkshape_bg.gif');
	padding-top: 30px;
}

.remove-lh {
	line-height: 0.5;
}

/* Edit Profile */
#edit-container {
	width: 100%;
	height: 100vh;
	background-image: url('darkshape_bg.gif');
	padding-top: 30px;
}

.top-edit-panel {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.bottom-edit-panel {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#edit-avatar-section {
	width: 300px;
	height: 200px;
	position: relative;
	margin-bottom: 15px;
}

#edit-avatar-panel{
	top:0;
	left:0;
	width:100%;
	height:100%;
	position: absolute;
	background-color: #BD1E2C;
	border-radius: 5px;
}

#edit-avatar-details {
	top:100px;
	left:0;
	padding-bottom: 20px;
	padding-left: 35px;
	font-size: 15pt;
	width:100%;
	height:100px;
	position: absolute;
	background: rgb(255, 255, 255);
	z-index: 10;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#edit-profile-image {
	top: 25px;
	left: 5px;
	z-index: 15;
	position: absolute;
	border-radius: 20px;
	border-color: rgb(255, 255, 255);
	border-style: solid;
	border-width:5px;
	width: 100px;
	height: 100px;
}

#edit-panel1, #edit-panel2, #edit-panel3, #edit-panel4 {
	background: rgba(255,255,255, 1);
	border-radius: 5px;
	padding: 25px;
}

.edit-panels dd > a {
	width: 300px;
}

/* Welcome page */

.background-image {
	background-image: url('bg.jpg');
	background-size: cover;
	background-position: center;
	display: block;
	-webkit-filter: blur(5px);
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: -1;
}

.front-content {
	text-align: center;
	color: white;	
	padding-top: 70px;
}

.front-content > p:first-child {
	font-size: 30px;
	text-shadow: 1px 1px #424242;
	margin-left: 100px;
	margin-right: 100px;
}

.front-content > p:nth-child(2) {
	font-size: 20px;
	text-shadow: 1px 1px #424242;
	margin-left: 100px;
	margin-right: 100px;
}

a:focus {
	outline: none;
}

#panel1, #panel2, #panel3, #panel4 {
	background: rgba(255, 255, 255, 0.45);
	border-radius: 0px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
	padding: 20px 40px 10px 40px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	outline: none;
}

label {
	color: black;
}

// Edit Page

#editForm {
	margin-top: 100px;
}

.edit_user {
	outline: none;
}

/* Border Styling */
.top-bar {
	border-bottom-width: 2px;
	border-bottom-color: #F5AA4A;
	width: 100%;
	z-index: 100;
}

#movie-title {
	display: inline;
	vertical-align: top;
	font-size: 24px;
}

.movie-click {
	clear: left;
	text-align: left;
	display: table;
	width: 100%;
	border-bottom: 1px solid $search-border;
}

.movie-click:hover {
	background-color: $search-hover;
	#movie-title {
		color: white;
	}
}

.search-results {
	background-color: $search-bg;
	width: $search-width;
	position: absolute;
	z-index: 10;
}

#search-poster {
	text-align: center;
	height: 100vh;
}

#search-block {
	width: $search-width;
	display: inline-block;
	margin-top: 17vh;
}

.img-thumb {
	display: inline-block;
	margin-right: 7px;
}

#search {
	margin-bottom: 0px;
	text-align: center;
	height: 50px;
	font-size: 24px;
}

#movie-poster {
	display: inline-block;
	margin: 30px 10px 20px 10px;
	text-align: center;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#movie-poster.fade-in {
	-webkit-animation: fadeIn 1.5s;
}

#drop-rating {
	height: 24px;
}

#movie-poster > i {
	display: inline-block;
	padding: 40px 40px;
}

.search-window {
	background-size: cover;
	display: block;
	// -webkit-filter: blur(5px);
	background-position: center; 
	z-index: -1;
	position: absolute;
	height: 100vh;
	width: 100%;
}

.overflow {
	background-size: cover;
	display: block;
	// -webkit-filter: blur(5px);
	background-position: center; 
	background-color: black;
	z-index: -10;
	position: absolute;
	height: 100vh;
	width: 100%;
}

.search-window.blur {
	-webkit-filter: blur(15px); 
	-moz-filter: blur(15px);
	-o-filter: blur(15px); 
	-ms-filter: blur(15px); 
	filter: blur(15px);  
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
	-webkit-transition: 0.4s -webkit-filter linear;
	-o-transition: 0.4s -o-filter linear;
}

// Form flip

.bg-color {
	background-color: #db3442;
}

.form-section {
	text-align: center;
	display: none;
	width: 100%;
	height: 850px;
}

.form-window {
	position: relative;
	display: inline-block;
	-webkit-perspective: 1000;
	text-align: center;
}

.card.flipped {
	-webkit-transform: rotatey(-180deg);
}

.card {
	margin: 20px;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.5s;
	text-align: center;
}

.face {
	-webkit-backface-visibility: hidden;
	z-index: 2;
	position: absolute;
	padding: 40px 150px 20px 10px;
	background-color: white;
	border-radius: 2px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

.front {
	z-index: 1;
	position: absolute;
}

.back {
	-webkit-transform: rotatey(-180deg);
}

.face > .panel {
	margin-bottom: 0px;
}

.movie-title {
	border-radius: 2px 2px 0px 0px;
	background-color: #474747;
	text-align: center;
	margin: -40px -150px 0px -10px;
	z-index: 0;
	border-bottom: 1px solid white;
}

.movie-title > h4 {
	color: #d1d1d1;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: 'Open Sans Condensed';
}


.form-flip {
	border-radius: 0px 2px 2px 0px;
	background-color: #e2e2e2;
	position: absolute;
	right: 0;
	height: 100%;
	z-index: -10;
	width: 140px;
	margin-top: -40px;
	display: inline-block;
	-webkit-transition: background-color 250ms linear;
	-moz-transition: background-color 250ms linear;
	-o-transition: background-color 250ms linear;
	-ms-transition: background-color 250ms linear;
	transition: background-color 250ms linear;
}

.form-flip > h5 {
	position: relative;
	top: 47%;
	color: #474747;
	font-family: 'Open Sans Condensed';
	font-size: 20px;
	-webkit-transition: color 250ms linear;
	-moz-transition: color 250ms linear;
	-o-transition: color 250ms linear;
	-ms-transition: color 250ms linear;
	transition: color 250ms linear;
}

.form-flip:hover {
	cursor: pointer;
	background-color: #bd1e2c;
	-webkit-transition: background-color 250ms linear;
	-moz-transition: background-color 250ms linear;
	-o-transition: background-color 250ms linear;
	-ms-transition: background-color 250ms linear;
	transition: background-color 250ms linear;

	h5 {
		color: white;
		-webkit-transition: color 250ms linear;
		-moz-transition: color 250ms linear;
		-o-transition: color 250ms linear;
		-ms-transition: color 250ms linear;
		transition: color 250ms linear;
	}
}

#new-event-description {
	resize: none;
}

#selected-poster {
	margin-top: 50px;
	width: $movie-poster-width;
	height: $movie-poster-height;
}

.movie-explore-field {
	width: 100%;
	text-align: center;
	display: inline-block;
}

.movie-info {
	text-align: left;
	padding-left: 50px;
	padding-right: 50px;
}

.movie-center {
	text-align: center;
}

#event_time_4i, #event_time_5i {
	display: inline;
	width: 45%;
}

// Movie Interests New

#wish-button {
	height: 70px;
	width: 50px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	display: inline-block;
	float: right;
	outline: none;
}

#wish-button:after {
	content: '';
	display: block;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 15px solid transparent;
	border-bottom-color: white; 
	position: absolute;
	bottom: 0;
}

.movie-score {
	text-align: left;
	padding-left: 50px;
}

.movie-score > img {
	height: 50px;
	vertical-align: text-top;
	margin: 5px 10px 5px 5px;
	padding-top: 5px;
}

#score-text {
	font-size: 45px;
	display: inline-block;
	vertical-align: text-top;
	margin-top: 2px;
}

#movie-poster-col, #movie-content-col {
	padding: 0px;
}

input:focus {
	outline:none;
}

// All reviews

#review-list > p {
	margin: 0px;
}

#review-table tr{
	border-bottom-width: 2px;
	border-color: #EEEEEE;
	border-style: solid;
}

#review-container {
	padding-top: 25px;
}

// Friend Page

#search-form {
	
	padding-bottom: 20px; 
}

.friend-page {
	text-align: center;
}

#user-list {
	border-top: 2px solid black;
	margin-top: 20px;
	padding-top: 30px;
}

/* Map Styling */

#map-container {
	height: 100vh;
	width: 65%;
	border-color: #fff;
	float: left;
	margin-right:0px;
	padding: 0px;
	display: inline-block;
}

#map-canvas {
	height: 100vh;
	width: 100%;
	margin-right:0px;
	position: absolute;
}

#map-container .event ul {
	list-style-type: none;
	padding: 0;
}

/* Fix map zoom bar */
.gm-style img { 
	max-width: none; 
}
.gm-style label { 
	width: auto; display: inline; 
}
/* Filter Events */

#btntoggle {
	float: right;
}

div#slidingDiv
{
	border-radius:4px;
	border:1px solid #333333;
	margin:5px;
	padding:5px;
	height: 300px;
}

/* All Events */
#event {
	background-color: #f7f2f2;
}

#all-event-container {
	float: right;
	width:35%;
	margin-top:30px;
	margin-left:0px;
	padding:0px;
}

#host-by {
	font-size: 8pt;
	display:block;
}

#event-wrapper {
	width: 100%;
	height: 225px;
	display: inline-block;
	background-color: #f7f2f2; 
}

#event-poster {
	height: 225px;
	width: 35%;
	float: right;
	border-top: 1px solid #e8e8e8;
}

#event-content {
	height: 225px;
	line-height: 1px;
	width: 65%;
	background-color: #f7f2f2; 
	float:left;
	border-top: 1px solid #e8e8e8;
	border-left: 1px solid #e8e8e8;
	position: relative;
}

#event-info {
	padding: 15px;
	height: 150px;
	overflow: hidden;
}

#event-title p {
	line-height: 0.5;
}

#event-attendance {
	height: 50px;
}

#avatar-thumb {
	width: 45px;
	height: 45px;
	border-radius: 150px;
	border: 2px solid #F9F9F9;
}

#host-thumb {
	width: 75px;
	height: 75px;
	border-radius: 150px;
	border: 2px solid #F9F9F9;
}

#side-bar {
	margin-top: 10px;
	width: 100%;
	height: 600px;

}

#event-attendance ul li {
	list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0;
}

#image-container {
	position: relative;
	height: 75px;
	width: 75px;
}

.icon {
	z-index: 2;
	position: relative;
	left: 40px;
	top: 50px;
}

.hostImage {
	z-index: 1;
}


/* Top Bar */

#friend-list {
	list-style: none;
}

#friend-icon {
	width: 30px;
	height: 30px;
	padding: 1px;
	background-color: #BD1E2C;
}

#friend-request {
	background-color: #BD1E2C;
}

#friend-number {
	color: white;
	font-size: 8pt;
	position: relative;
	left: 35px;
	top: -15px;
}

#friend-container {
	position: relative;
	height: 45px;
	width: 45px;
}

#current-thumb {
	width: 30px;
	height: 30px;
	border-radius: 150px;
}

.remove-friend {
	text-align: left;
}

#friend-space {
	line-height: 1.0;
}

.top-title {
	font-family: 'Nunito', sans-serif;
}


/* style input field text */
::-webkit-input-placeholder {
	color: #b0b0b0;
	opacity: .8;
}

/* Input field that looks like a button */
.search-field {
	width: 80px;
	display: inline-block;
	color: #EFEFEF;
	text-align: center;
	background-color: #d8492e;
	padding: .9em 1.8em;
	border: none;
	cursor: pointer;
	outline: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	transition: all .1s linear;
}
.search-field:hover {
	background-color: #BD1E2C;
	color: white;
}

/* after button is clicked */
.search-field.showActive {
	width: 200px;
	outline: none;
	color: #efaa9d;
	text-align: left;
	cursor: inherit;
}

/* Email submit button */
#submit-button {
	width: 35px;
	height: 35px;
	border: none;
	text-indent: -9999px;
	opacity: .25;
	background: url(http://helixpowered.com/assets/img/arrow-circle-on-right.svg) no-repeat;
	background-size: 13px;
	background-position: 0 1px;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;

	display: none;
}
#submit-button:hover {
	opacity: .33;
}

#submit-button.appearShow {
	display: inline-block;
	background-size: 33px;
}

/* Profile Section */

#profile-image {
	top: -100px;
	left: 90px;
	z-index: 15;
	position: relative;
	border-radius: 15px;
	border-color: rgb(255, 255, 255);
	border-style: solid;
	border-width: 4px;
	width: 70%;
	height: 70%;
}

#status-space {
	padding-left: 30px;
}

#status-details {
	margin-top: 10px;
}

#edit-profile-btn {
	margin-top: 15px;
}
 
#user-tab-content, #user-add-info {
	margin-top: 50px;
}

#user-tab-content {
}

#user-add-info {
	background-color: #FEFEFE;
}

#status-row {
	width: 100%;
	max-width: 100%;
	margin-top: 300px;
	height: 70px;
	background-color: white;
	border-bottom-style: solid;
	border-bottom-color: #EEEEEE;
	border-bottom-width: 1px;
}

#user-content-row {
	width: 100%;
	max-width: 100%;
	height: 100%;
	background-color: #F5F5F5;
	border-bottom-style: solid;
	border-bottom-color: #F6F6F6;
	border-bottom-width: 1px;
}

dd {
    border-bottom: 0px solid; 
    padding-bottom: 2px;
    -webkit-transition: 0.5s ease;
            transition: 0.5s ease;
}

dd:hover {
    -webkit-transition: 0.5s ease;
            transition: 0.5s ease;
    border-bottom: 5px solid #BD1E2C;
    padding-bottom: 2px;
    
    #left-tab, #right-tab, #center-tab {
    	color: #BD1E2C;	
    }
}

dd.active {
	border-bottom: 5px solid #BD1E2C;
}

#user-content-section {
	height: 500px;
	width: 100%;
	background-color: white;
}

#profile-content {
	height: 180px;
	background-color: #FEFEFE;
}

#image-profile {
	margin-top: 10px;
}

#profile-section {
	padding: 25px;
	height: 400px;
	background-color: #FEFEFE;
	border: 1px solid #dedede;
	border-radius: 10px;
}

#right-tab, #left-tab, #center-tab {
	border: 0px;
	font-size: 8pt;
	padding-bottom: 2px;
	color: #555555;
}

.profile-counts {
	color: #BD1E2C;
}

#p1, #p2, #p3, #p4, #p5 {
	border: 1px solid #dedede;
	border-radius: 5px;
	background-color: #FEFEFE;
	width: 700px;
	min-height: 400px;
	height: 100%;	
	padding: 25px;
}	

#chart4 svg {
	margin-top: 90px;
	margin-bottom: 90px;
}

.no-pad-right {
	padding-right: 0;
}
.no-pad-left{
	padding-left: 0;
}

div.review-container {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #EEEEEE;
    width: 550px;
    height: 200px;
    margin: 50px;
}

div.title-bar {
    background-color: #BD1E2C;
    padding: 4px;
    border-radius: 5px;
    width: 50%;
    height: 35px;
    color: white;
    text-align: center;
    vertical-align: middle;
    position: relative;
    z-index: 10;
    top: -15px;
    left: -10px;
}

div.review-content {
    font-style: oblique;
    font-size: 12pt;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;
}

div.rating_bar {
	float: right;
	margin-right: 25px;
}

div.edit-review-bar {
	float: right;
	margin-top: 5px;
	margin-right: 25px;
}

/*#tab-section > .column, .columns  {
	padding: 0px;
	}*/

	#wish-section {
		padding: 25px;
		height: 450px;
		text-align: center;
	}

	.car-img {
		height: 250px;
		width: 167px;
	}

	.car-img-container {
		height: 300px;
		width: 167px;
		display: inline-block;
		text-align: center;
	}

	#slider-caption {
		position: relative;
	}

	#friend-section {
		padding: 25px;
		border: 1px solid #dedede;
		background-color: #FEFEFE;
		border-radius: 10px;
	}

	#review-section {
		padding: 25px;
		border: 1px solid #dedede;
		border-radius: 10px;
		background-color: #FEFEFE;
	}

	.small-caps {
		font-size: 8pt;
		line-height: 1;
	}

	.small-marker-caps {
		font-size: 10pt;
		line-height: 1;
	}

	#remove-friend {
		line-height: 1.0;
	}

// Error Box

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.error-box, .success-box {
	// right: 10%;
	position: absolute;
	opacity: 0;
	margin: 0px;
	width: 100%;
	height: 4vh;
	z-index: 10;
	-webkit-animation: fadeOut 4s;
}

.notice {
	background: rgba(44, 232, 97, 0.9);
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.alert {
	background: rgba(255, 232, 33, 0.9);
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}


#marker-wrapper {
	height: 200px;
	width: 300px;
	display: inline-block;
}

#marker-poster-container {
	height: 200px;
	width: 150px;
	float: left;
	position: relative;
}

#marker-poster {
	height: 100%;
	width: 100%;
	position: absolute;
}

#marker-time {
	top: 165px;
	left: 0;
	height: 35px;
	width: 100%;
	position: absolute;
	padding-top: 15px;
	text-align: center;
	color: #f7f2f2;
	background-color:rgba(0,0,0,0.5);
	z-index: 10;
}

#marker-details {
	height: 200px;
	width: 150px;
	float: right;
	position: relative;
	padding-left: 5px;
	line-height: 10px;
}

#friend-wrapper {
	height: 67px;
	width: 200px;
	margin: 10px;
}

#friend-photo {
	height: 67px;
	width: 58px;
	float: left;
}

#friend-details {
	height: 67px;
	width: 140px;
	position: relative;
	float: right;
}

#friend-avatar {
	height: 67px;
	width: 58px;
}

//Countdown in Textarea

.message, .message-description, .message-title {
	margin-bottom: 9px;
	resize: none;
}

.countdown, .countdown-description, .countdown-title {
	margin-top: -25px;
	margin-bottom: 9px;
	font-size: 10px;
	float: right;
	margin-right: 5px;
	color: #5b5b5b;
}

//Error Messages

.error_messages {
	color: black;
	padding: 5px 10px 5px 10px;
	background-color: #ff4949;
	opacity: 0.85;
	margin-bottom: 5px;
}

.error_messages > h5, .error_messages > ul {
	opacity: 1;
	color: black;
}

.error-li {
	margin-bottom: 5px;
}

//Other
#user_avatar {
	color: black;
}

//Edit Event Page

#event-page-poster {
	width: $movie-poster-width;
	height: $movie-poster-height;
	padding: 15px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#movie-details, #event-details, #commit-event, .comment-panel, #comments, #edit-event, #edit-rating {
	background: white;
	border-radius: 2px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
	outline: none;
	padding: 10px;
	text-align: center;
	margin-bottom: 10px;
}

.comment-panel {
	text-align: left;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
	padding: 10px;
	overflow: auto;
}

.edit-buttons {
	font-size: 10px;
}

#edit-button {
	float: right;
}

#comment-list {
	clear: both;
	height: 300px;
	overflow: scroll;
	padding: 10px;
}

.delete-button {
	margin-right: 30px;
	margin-top: -5px;
	right: 0;
	position: absolute;
}

.comment-user {
	text-align: center;
}

#avatar-thumb {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.comment {
	margin-top: 10px;
	margin-bottom: 5px;
	display: inline-block;
	word-break: break-all;
}

.comment-date {
	float: right;
}

.attendees {
	margin: auto;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	display: inline-block;
	list-style-type: none;
}

.attendees-container {
	height: 100px;
	overflow: auto;
}

#commitment_party_size {
	text-align: center;
}

#cancel-commitment {
	font-size: 12px;
}

#empty-comments {
	font-size: 30px;
	margin-top: 70px;
	font-family: 'Open Sans Condensed';
}

#empty-commitments {
	margin-top: 10px;
	font-size: 30px;
	font-family: 'Open Sans Condensed';
}

#event-details > h2 {
	border-radius: 2px 2px 0px 0px;
	margin: -10px -10px 0px -10px;
	background-color: #474747;
	color: #d1d1d1;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: 'Open Sans Condensed';
}

#event-details > h5 {
	padding-right: 100px;
	padding-left: 100px;
}

#movie-details > h4 {
	font-family: 'Open Sans Condensed';
}

.edit-container {
	background-image: url('darkshape_bg.gif');
	height: 100vh;
	padding-top: 30px;
}

.event-critics-score {
	height: 20px;
}

/* Remove close button */
/*.gm-style-iw + div {
	display: none;
	}*/


